@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: SummerDream;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1A1A1A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #FFFFFF #1A1A1A;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 3px solid #ffffff;
  }

body {
  overflow-x: hidden;
  background: #1A1A1A;
}

@font-face {
  font-family: "Alliance";
  src:
    local("Alliance"),
    url("../src/assets/fonts/Alliance.otf") format("opentype");
}

@font-face {
  font-family: "SummerDream";
  src:
   local("SummerDream"),
   url("../src/assets/fonts/SummerDream.ttf") format("truetype");
}

.counter {
  z-index: 1000;
}

.overlay {
  z-index: 999;
}

#text-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(17, 17, 17, 0.6), rgba(17, 17, 17, 0.4));
  z-index: -1;
  pointer-events: none;
}
